@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');

.home_heroConatiner{
    background: #0c0c0c;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    height: 800px;
    position: relative;
    z-index: 1;
    
}

.home_heroConatiner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.2) 0%,
        rgba(0, 0, 0, 0.6) 100%
    ),
    linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, transparent 100%);
    z-index: 2;
}

.home_hero_bg {
    position: absolute;
    top: 0;
    right: 0; 
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;  
}

.home_hero_bg img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    background: #232e34;
}

.home_heroContent {
    z-index: 3;
    max-width: 1200px;
    position: absolute;
    padding: 8px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.home_heroContent-h1 {
    color: #fff;
    font-size: 68px;
    text-align: center;
    display: flex;
    font-family: 'Dancing Script', cursive;
}

.home_heroContent-h2 {
    color: #fff;
    text-align: center;
    font-family: 'Dancing Script', cursive;
}


.home_heroContent-p {
    margin-top: 24px;
    color: #fff;
    font-size: 24px;
    text-align: center;
    max-width: 600px;
}

.home_heroContent-btn {
    margin-top: 10px;
    border-radius: 50px;
    padding: 20px;
    background: #7b6152;
    width: 150px;
    border: 2px solid #7b6152;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.2s ease;
    display: flex;
}

.home_heroContent-btn:hover {
    background-color: transparent;
    border: 2px solid #7b6152;
    transition: 0.2s ease;
}

.home_heroContent-btn a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 20px;
}

.home_heroContent-btn-icon {
  color: #7b6152;
  font-size: 25px;
  margin-left: 10px;
}
